###########################################
#          Caelum node config             #
###########################################

# Don't append the 0x to your private key.
PRIVATE_KEY='123...'

# Directory to store the blockchain data
DATADIR='./networks/testnet/nodes/'

# Public port to use
PORT=30344

# Password to unlock your wallet
PASS='test'

# Name to list on the statistics page
NAME='xxx'
