###########################################
#          Caelum node config             #
###########################################


# Directory to store the blockchain data
DATADIR=./networks/mainnet/nodes/

# Public port to use
PORT=30344

# Name to list on the statistics page
NAME=


####### VALUES BELOW ARE AUTO SAVED AND SHOULD NOT BE MODIFIED #######
COINBASE=
PID=
